:root{
	--main-color:#000000;
	--secondary-color:#FFFFFF;
	--text-color:  #747474;
	--link-color:#1c7c7c;
	--link-color-hover:#999999;
	/* --background-color:#EAEDED; */
	--background-color:#FFFFFF;
	--font-headings-default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	--font-base-default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body{
	background-color: var(--background-color);	
	font-family: "BellGothicStd", "Open Sans", Georgia, serif;
}

header{
	background-color: var(--secondary-color);
	color: var(--main-color);
}

footer{
	background-color: var(--main-color);
	color: var(--secondary-color);
	margin-top: 15px;
}

section{
  	margin:0;
  	padding:0;
}

p {
	font-size: 15px;
	margin-bottom: 1rem;
}

p, ul, li, div {
	color: var(--text-color);;
}

p, ul, li, a, div{
	line-height: 25px;
}

ul {
	list-style: disc;
	margin-left: 1rem;
}

li{
	margin-bottom: 1rem;
}

h1, h2, h3 {
    font-family: "BellGothicStd",sans-serif; 
    font-weight: bold;
    color: var(--main-color);
}

h1 {
    font-size: 25px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 15px;
	line-height: 22px;
	margin: 5px 0;
}


.section_title, .section_title_footer{	
	border-bottom: 2px solid;
	margin-bottom: 1.5rem;
}

.section_title{	
	color: var(--main-color);
	margin-bottom: 1.5rem;
}
.section_title_podcast{	
	margin-bottom:15px;
}

.section_title_article{	
	margin-bottom:5px;
}

.section_title_Reco{	
	margin-top:-5px;
	margin-bottom:15px;
	border-bottom:0;
	line-height: 20px;
}

iframe {
	width:560px;
	height:315px;
}

.section_title_footer, .item_box_footer p, .item_box_footer h3{	
	color: var(--secondary-color);
	margin-bottom: 0.8rem;
}

.noPadding{	
	padding: 0;
}

.no_padding_right{	
	padding-right: 0;
}

.date_article{
	color:#999999;
	margin-bottom: 15px;
}

a {
	color:var(--link-color);
}

a:hover, a:hover > p, a:hover > h2, a:hover > h3 {
	color:var(--link-color-hover);
	text-decoration: none;
	transition: all 0.2s ease-out;	
}

img {
	border-radius: 5px;
}

.img_scale_animate > img {
	transition: all 0.8s ease-out;	
}

.img_scale_animate  > img:hover {
	transform: scale(1.02);
	transition: all 1s ease-out;	
}

.img_scale_animate {
	overflow: hidden;
	border-radius: 8px;
}

.img_color_animate > img {
	filter:grayscale(0);
	transition: all 0.4s ease-out;	
}

.img_color_animate  > img:hover {
	filter:grayscale(80%);
	transition: all 0.5s ease-out;	
}

.img_color_animate {
	border-radius: 8px;
}

.date{
	color:#999999;
}

.date_home{
	color:#999999;
	margin-top:-5px;
}

.title_home_secondary{
	margin-top: 0px;
	margin-bottom: 25px;
}

.item_box{
    margin:12px 0 0;
    padding:1rem 1rem 0;
    background-color: var(--secondary-color);
    border-radius: 2px;
}



.item_box_left{
    margin:15px 0 0;
    padding:1rem 1rem 0;
    background-color: var(--secondary-color);
    border-radius: 2px;
}

.item_box_right{
    margin:15px 0 0;
    padding:1rem 1rem 0;
    background-color: var(--secondary-color);
    border-radius: 2px;
}

.item_box_footer{
    margin:15px 0 0;
    padding:1rem 1rem 0;
    background-color: var(--main-color);
    color: var(--secondary-color);
    border-radius: 2px;  	
}

.continue_reading{
	color:var(--link-color);
}

.continue_reading:hover{
	color:var(--link-color-hover);
}

.continue_reading{
	color:var(--link-color);
}


@media screen and (max-width: 992px){

	.no_padding_smallscreen{	
		padding: 0;
	}

	.item_box_left{
		margin:15px 0 0;
	}

	.item_box_right{
		margin:15px 0 0 0;
	}

	.item_box_hide_mobile{
		display:none;
	}
}

@media screen and (max-width: 768px){
	iframe {
		width:356px;
		height:200px;
	}
}

@media screen and (max-width: 576px){
	iframe {
		width:267px;
		height:150px;
	}
}