html {
    --padding-cell: 17px;
}

img {
    width: 100%;
}

.cell {
    padding: 15px var(--padding-cell) 0;
}

.overlay {
    position: absolute;
    bottom: 7px;
    left: 0;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding: 0 var(--padding-cell); 
    transition: .5s ease;
  }
  
  .overlayText{
      position:relative;
      box-sizing: border-box;
      width: 100%;
      height:100%;
      padding:5px;	
      background-color: #FFFFFF;
      border: solid #000000;      
      border-radius: 5px;      
      font-size: 14px;
  }
  
  a:hover>.overlay {
    height: 30%;
    border-radius: 8px;
  }
  
  .overlayText>h2 {
      font-size: 15px;
      line-height: 1.5em;
  }

@media screen and (max-width: 992px){

    .overlay {
        height: 30%;
        transition: none;
    }

    .overlayText{
        border: solid #000000;
    }

    .overlayText>h2 {
        font-size: 15px;
        line-height: 1.4em;
    }
}

@media screen and (max-width: 768px){
	.overlay {
  		height: 25%;
  		transition: none;
    }
    
    a:hover>.overlay {
        height: 25%;
  }

	.overlayText>h2 {
        font-size: 20px;        
        line-height: 1.5em;
	}
}

@media screen and (max-width: 500px){
	.overlay {
  		height: 25%;
  		transition: none;
    }
    
    a:hover>.overlay {
        height: 25%;
  }

	.overlayText>h2 {
        font-size: 16px;        
        line-height: 1.4em;
	}
}

@media screen and (min-width: 992px){
	a:hover>.overlay {
  		height: 35%;
	}

	.overlayText>h2 {
		font-size: 15px;
	}
}

@media screen and (min-width: 1200px){
	a:hover>.overlay {
  		height: 30%;
	}

	.overlayText>h2 {
		font-size: 15px;
	}
}
