.post_recent{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 8px;
}

.date_recent{
    margin-bottom: 8px;
}

.aside { 
    flex: 1 3;
}

.aside_1 { 
    flex: 1;
    padding-right: 8px;
}

.aside_2 { 
    flex: 2;
}