.SideLink, .SideLink:hover{
	display:inline-block;
	box-sizing: border-box;
	transition: background-color 0.4s ease;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 5px;	
	margin-bottom: 1.5rem;
}

.side_title{
	margin: 0 0 5px ;
}

.side_icons{
	margin-left: 2px;
	height: 50px;
	width: 100%;
}

.SideLink>span{
	padding-top: 2px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0;
    font-size: 1.6em;
}

.SideLink{
	background-color: #FFFFFF;
	color:#000000;
}

.SideLink:hover{
	background-color: #000000;
    color:#FFFFFF;
}