.supportLink, .supportLink:hover{
	transition: filter 0.4s ease;
}

.supportLink img{
    border-radius: 15px;
    max-width: 310px;
    margin-bottom: 1.5rem;
}

.supportLink{
	color:#000000;
}

.supportLink:hover{
    filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(133deg) brightness(103%) contrast(108%); 
    -webkit-filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(133deg) brightness(103%) contrast(108%);
}
